//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 07 12:33:50 2017
//! **************************************************************************

SCHEMATIC START;
COMP "S5_1" LOCATE = SITE "P80" LEVEL 1;
COMP "S5_2" LOCATE = SITE "P81" LEVEL 1;
COMP "S5_3" LOCATE = SITE "P78" LEVEL 1;
COMP "S5_4" LOCATE = SITE "P79" LEVEL 1;
COMP "S5_5" LOCATE = SITE "P61" LEVEL 1;
COMP "PBS1" LOCATE = SITE "P58" LEVEL 1;
COMP "S5_6" LOCATE = SITE "P62" LEVEL 1;
COMP "PBS2" LOCATE = SITE "P57" LEVEL 1;
COMP "S5_7" LOCATE = SITE "P66" LEVEL 1;
COMP "PBS3" LOCATE = SITE "P56" LEVEL 1;
COMP "sega" LOCATE = SITE "P102" LEVEL 1;
COMP "S5_8" LOCATE = SITE "P67" LEVEL 1;
COMP "PBS4" LOCATE = SITE "P55" LEVEL 1;
COMP "CLOCK8MHZ" LOCATE = SITE "P123" LEVEL 1;
COMP "segb" LOCATE = SITE "P105" LEVEL 1;
COMP "segc" LOCATE = SITE "P101" LEVEL 1;
COMP "segd" LOCATE = SITE "P97" LEVEL 1;
COMP "sege" LOCATE = SITE "P98" LEVEL 1;
COMP "segf" LOCATE = SITE "P100" LEVEL 1;
COMP "DIG1" LOCATE = SITE "P92" LEVEL 1;
COMP "segg" LOCATE = SITE "P104" LEVEL 1;
COMP "DIG2" LOCATE = SITE "P93" LEVEL 1;
COMP "DIG3" LOCATE = SITE "P84" LEVEL 1;
COMP "DIG4" LOCATE = SITE "P88" LEVEL 1;
COMP "P6_0N0" LOCATE = SITE "P118" LEVEL 1;
COMP "segdp" LOCATE = SITE "P99" LEVEL 1;
COMP "P6_0P0" LOCATE = SITE "P119" LEVEL 1;
COMP "LEDX1" LOCATE = SITE "P41" LEVEL 1;
COMP "LEDX2" LOCATE = SITE "P40" LEVEL 1;
COMP "LEDX3" LOCATE = SITE "P44" LEVEL 1;
COMP "L123" LOCATE = SITE "P87" LEVEL 1;
COMP "LEDX4" LOCATE = SITE "P43" LEVEL 1;
COMP "LEDX5" LOCATE = SITE "P46" LEVEL 1;
COMP "LEDX6" LOCATE = SITE "P45" LEVEL 1;
COMP "LEDX7" LOCATE = SITE "P48" LEVEL 1;
COMP "LEDX8" LOCATE = SITE "P47" LEVEL 1;
COMP "LED1" LOCATE = SITE "P117" LEVEL 1;
COMP "LED2" LOCATE = SITE "P116" LEVEL 1;
COMP "LED3" LOCATE = SITE "P115" LEVEL 1;
COMP "LED4" LOCATE = SITE "P114" LEVEL 1;
SCHEMATIC END;

