#
# UCF file for FPGA P6 via right angle conn to DevIO P1
#
# (note: P6/P1 odd/even pin numbers swapped using right angle connectors)
#
# 8MHz clock input
NET "CLOCK8MHZ" LOC = P123;

# Bank 0 on P6 bit 0 P&N outputs
NET "P6_0P0" LOC = P119;
NET "P6_0N0" LOC = P118;

# LEDs on the FPGA board: Active Hi 1=ON 0=OFF
NET "LED1" LOC = P117;
NET "LED2" LOC = P116;
NET "LED3" LOC = P115;
NET "LED4" LOC = P114;

# LEDs on the I/O board: Active Hi 1=ON 0=OFF
NET "LEDX8" LOC = P47;
NET "LEDX7" LOC = P48;
NET "LEDX6" LOC = P45;
NET "LEDX5" LOC = P46;
NET "LEDX4" LOC = P43;
NET "LEDX3" LOC = P44;
NET "LEDX2" LOC = P40;
NET "LEDX1" LOC = P41;

# 7 segment display drive: Active Low 0=ON 1=OFF
NET "sega" LOC = P102;
NET "segb" LOC = P105;
NET "segc" LOC = P101;
NET "segd" LOC = P97;
NET "sege" LOC = P98;
NET "segf" LOC = P100;
NET "segg" LOC = P104;
NET "segdp" LOC = P99;

# 7 segment display digit/colon drive: Active Low 0=ON 1=OFF
NET "DIG1" LOC = P92;
NET "DIG2" LOC = P93;
# COLON
NET "L123" LOC = P87;
NET "DIG3" LOC = P84;
NET "DIG4" LOC = P88;

# Pushbutton switches S1-4 When Depressed=0
NET "PBS4" PULLUP;
NET "PBS4" LOC = P55;
NET "PBS3" PULLUP;
NET "PBS3" LOC = P56;
NET "PBS2" PULLUP;
NET "PBS2" LOC = P57;
NET "PBS1" PULLUP;
NET "PBS1" LOC = P58;

# 8 position slide switch S5: ON=0 OFF = 1
NET "S5_1" PULLUP;
NET "S5_1" LOC = P80;
NET "S5_2" PULLUP;
NET "S5_2" LOC = P81;
NET "S5_3" PULLUP;
NET "S5_3" LOC = P78;
NET "S5_4" PULLUP;
NET "S5_4" LOC = P79;
NET "S5_5" PULLUP;
NET "S5_5" LOC = P61;
NET "S5_6" PULLUP;
NET "S5_6" LOC = P62;
NET "S5_7" PULLUP;
NET "S5_7" LOC = P66;
NET "S5_8" PULLUP;
NET "S5_8" LOC = P67;


NET "CLOCK8MHZ" IOSTANDARD = LVCMOS33;
NET "P6_0P0" IOSTANDARD = LVCMOS33;
NET "P6_0N0" IOSTANDARD = LVCMOS33;
NET "DIG1" IOSTANDARD = LVCMOS33;
NET "DIG2" IOSTANDARD = LVCMOS33;
NET "DIG3" IOSTANDARD = LVCMOS33;
NET "DIG4" IOSTANDARD = LVCMOS33;
NET "L123" IOSTANDARD = LVCMOS33;
NET "LED1" IOSTANDARD = LVCMOS33;
NET "LED2" IOSTANDARD = LVCMOS33;
NET "LED3" IOSTANDARD = LVCMOS33;
NET "LED4" IOSTANDARD = LVCMOS33;
NET "LEDX1" IOSTANDARD = LVCMOS33;
NET "LEDX2" IOSTANDARD = LVCMOS33;
NET "LEDX3" IOSTANDARD = LVCMOS33;
NET "LEDX4" IOSTANDARD = LVCMOS33;
NET "LEDX5" IOSTANDARD = LVCMOS33;
NET "LEDX6" IOSTANDARD = LVCMOS33;
NET "LEDX7" IOSTANDARD = LVCMOS33;
NET "LEDX8" IOSTANDARD = LVCMOS33;
NET "PBS1" IOSTANDARD = LVCMOS33;
NET "PBS2" IOSTANDARD = LVCMOS33;
NET "PBS3" IOSTANDARD = LVCMOS33;
NET "PBS4" IOSTANDARD = LVCMOS33;
NET "S5_1" IOSTANDARD = LVCMOS33;
NET "S5_2" IOSTANDARD = LVCMOS33;
NET "S5_3" IOSTANDARD = LVCMOS33;
NET "S5_4" IOSTANDARD = LVCMOS33;
NET "S5_5" IOSTANDARD = LVCMOS33;
NET "S5_6" IOSTANDARD = LVCMOS33;
NET "S5_7" IOSTANDARD = LVCMOS33;
NET "S5_8" IOSTANDARD = LVCMOS33;
NET "sega" IOSTANDARD = LVCMOS33;
NET "segb" IOSTANDARD = LVCMOS33;
NET "segc" IOSTANDARD = LVCMOS33;
NET "segd" IOSTANDARD = LVCMOS33;
NET "segdp" IOSTANDARD = LVCMOS33;
NET "sege" IOSTANDARD = LVCMOS33;
NET "segf" IOSTANDARD = LVCMOS33;
NET "segg" IOSTANDARD = LVCMOS33;

